<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Diego Stephan Rios ROjas">

    <title>Startmin - Bootstrap Admin Theme</title>

    <link href="plugins/tag/css/jquery.tag-editor.css" rel="StyleSheet" type="text/css" media="all"/>
    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <!-- MetisMenu CSS -->
    <link href="css/metisMenu.min.css" rel="stylesheet">
    <!-- Timeline CSS -->
    <link href="css/timeline.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="css/startmin.css" rel="stylesheet">
    <!-- Morris Charts CSS -->
    <link href="css/morris.css" rel="stylesheet">
    <!-- Custom Fonts -->
    <link href="css/font-awesome.min.css" rel="stylesheet" type="text/css">
   <!-- jQuery -->
   <style type="text/css">
   	  #txtNit+.tag-editor .tag-editor-spacer { width: 7px; }
   </style>
   <script type='text/javascript' src="js/jquery.min.js"></script>
   <script type='text/javascript' src="js/jquery-ui.min.js"></script> 
   <script type="text/javascript" src="cordova.js"></script>
</head>
<body>

<div id="wrapper">

    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Startmin</a>
        </div>

        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>

        <!-- Top Navigation: Left Menu -->
        <ul class="nav navbar-nav navbar-left navbar-top-links">
            <li><a href="#"><i class="fa fa-home fa-fw"></i> Website</a></li>
        </ul>

        <!-- Top Navigation: Right Menu -->
        <ul class="nav navbar-right navbar-top-links">
            <li class="dropdown navbar-inverse">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    <i class="fa fa-bell fa-fw"></i> <b class="caret"></b>
                </a>
                <ul class="dropdown-menu dropdown-alerts">
                    <li>
                        <a href="#">
                            <div>
                                <i class="fa fa-comment fa-fw"></i> New Comment
                                <span class="pull-right text-muted small">4 minutes ago</span>
                            </div>
                        </a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a class="text-center" href="#">
                            <strong>See All Alerts</strong>
                            <i class="fa fa-angle-right"></i>
                        </a>
                    </li>
                </ul>
            </li>
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    <i class="fa fa-user fa-fw"></i> Manager <b class="caret"></b>
                </a>
                <ul class="dropdown-menu dropdown-user">
                    <li><a href="#"><i class="fa fa-user fa-fw"></i> User Profile</a>
                    </li>
                    <li><a href="#"><i class="fa fa-gear fa-fw"></i> Settings</a>
                    </li>
                    <li class="divider"></li>
                    <li><a href="#"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
                    </li>
                </ul>
            </li>
        </ul>

        <!-- Sidebar -->
        <div class="navbar-default sidebar" role="navigation">
            <div class="sidebar-nav navbar-collapse">

                <ul class="nav" id="side-menu">
                    <li class="sidebar-search">
                        <div class="input-group custom-search-form">
                            <input type="text" class="form-control" placeholder="Search...">
                                <span class="input-group-btn">
                                    <button class="btn btn-primary" type="button">
                                        <i class="fa fa-search"></i>
                                    </button>
                                </span>
                        </div>
                    </li>
                    <li>
                        <a href="#" class="active"><i class="fa fa-dashboard fa-fw"></i> Estado Cliente</a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-sitemap fa-fw"></i> Ingreso Ordenes Venta<span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li>
                                <a href="#">Second Level Item</a>
                            </li>
                            <li>
                                <a href="#">Third Level <span class="fa arrow"></span></a>
                                <ul class="nav nav-third-level">
                                    <li>
                                        <a href="#">Third Level Item</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                </ul>

            </div>
        </div>
    </nav>

    <!-- Page Content -->
    <div id="page-wrapper">
        <div class="container-fluid">

            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">Seguimiento de Cliente</h1>
                </div>
            </div>
            <!-- Table -->
            
            <div class="row">
                <div class="col-lg-12">
                    <div class="form-group">
	                    <input class="form-control" id="txtNit" placeholder="busqueda por nit...">
	                </div>
                </div>
            </div>

            <div class="text" id="listuser">                 

                <div class="row">
                   
                   <div class="col-lg-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">
				               {{ Title }}  &nbsp;&nbsp;
				               <button type="button" class="btn btn-outline btn-success btn-xs" @click="RefreshCust()">
				                 Limpiar
				               </button>
				              &nbsp;&nbsp; {{ UserRegister.length }}
				            </div>
                            <!-- /.panel-heading -->
                            <div class="panel-body">
                                <!-- Nav tabs -->
                                <ul class="nav nav-pills">
                                    <li class="active"><a href="#home-pills" data-toggle="tab" aria-expanded="true">Crédito Retenido</a>
                                    </li>
                                    <li class=""><a href="#profile-pills" data-toggle="tab" aria-expanded="false">Facturas Abiertas</a>
                                    </li>
                                </ul>

                                <!-- Tab panes -->
                                <div class="tab-content">
                                    <div class="tab-pane fade active in" id="home-pills">
                                        <hr>
                                        <div class="table-responsive">
						                    <table class="table table-striped table-bordered table-hover">
						                        <thead>
						                            <tr>
						                                <th>CustNum</th>
						                                <th>CreditHold</th>
						                                <th>CreditLimit</th>
						                                <th>ResaleID</th>
						                            </tr>
						                        </thead>
						                        <tbody>
						                            <tr v-for="user in UserRegister">
						                                <td>{{ user.CustNum }}</td>
						                                <td>
						                                   <div class="text-center checkbox">
			                                                    <label>
			                                                        <input type="checkbox" :checked="user.CreditHold">
			                                                    </label>
			                                                </div>
						                                </td>
						                                <td>{{ user.CreditLimit }}</td>
						                                <td>{{ user.ResaleID }}</td>
						                            </tr>			                           
						                        </tbody>
						                    </table>
				                        </div>
				                        <!-- /.table-responsive -->
                                    </div>
                                    <div class="tab-pane fade" id="profile-pills">
                                        <hr>
                                        <div class="table-responsive">
						                    <table class="table table-striped table-bordered table-hover">
						                        <thead>
						                            <tr>
						                                <th>CustNum</th>
						                                <th>InvoiceNum</th>
						                                <th>InvoiceAmt</th>
						                                <th>InvoiceBal</th>
						                            </tr>
						                        </thead>
						                        <tbody>
						                            <tr v-for="invoice in OpenInvioces">
						                                <td>{{ invoice.CustNum }}</td>
						                                <td>{{ invoice.InvoiceNum }}</td>
						                                <td>{{ invoice.InvoiceAmt }}</td>
						                                <td>{{ invoice.InvoiceBal }}</td>
						                            </tr>			                           
						                        </tbody>
						                    </table>
				                        </div>
				                        <!-- /.table-responsive -->
                                    </div>
                                </div>
                            </div>
                            <!-- /.panel-body -->
                        </div>
                        <!-- /.panel -->
                    </div>

                </div>

            </div>          
          <!-- Table -->        
          
        </div>
    </div>
    <script type="text/javascript" src="plugins/tag/js/jquery.caret.min.js"></script>
    <script type="text/javascript" src="plugins/tag/js/jquery.tag-editor.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.1.10/vue.min.js"></script> 
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/vue-resource/1.0.3/vue-resource.min.js"></script>
    <script type="text/javascript">
    
	    var database = null;
	    var tagse;
	    Vue.config.debug = false;
	    Vue.config.devtools = false;
		   
		//successCB();   
		//LoadDataCustomer();
	    document.addEventListener('deviceready', onDeviceReady, false);   
	    
	    function onDeviceReady() 
		{
		   //successCB();
		   LoadDataCustomer();
		} 

		function successCB()
		{
		  $.post('http://190.27.196.45:8285/api/ServicioWebApi/ServicioWeb', function (data) {
		     //InsertIntoI(data.Clientes);
		     //InsertIntoII(data.FacturasCliente);
		  });		  
		}        

        function InsertIntoI(data)
        {
          database = window.openDatabase("Customer","1.0","Table Credit",2 * 1024 * 1024);
          database.transaction(
		    function (tx) 
		    {
	            tx.executeSql("Create Table IF NOT EXISTS CreditCust(CustNum INT, ResaleID INT, CreditLimit INT, CreditHold BIT)");
	            var l = data.length;
	            var sql = 'Insert Into CreditCust values(?,?,?,?)';
	            var b;
	            for (var i = 0; i < l; i++) 
	            {
	                b = data[i];
	                var params = [b.CustNum, b.ResaleID, b.Limite, b.CreditHold];
	                tx.executeSql(sql, params);
	            }
		    },
		    function (error) {console.log(error);},
		    function () {}
		  ); 
		  LoadDataCustomer();       
        } 

        function InsertIntoII(data)
        {
          database = window.openDatabase("Customer","1.0","Table Credit",2 * 1024 * 1024);
          database.transaction(
		    function (tx) 
		    {
	            tx.executeSql("Create Table IF NOT EXISTS InvoiceOpen(CustNum INT, InvoiceNum INT, InvoiceAmt INT, InvoiceBal INT)");
	            var l = data.length;
	            var sql = 'Insert Into InvoiceOpen values(?,?,?,?)';
	            var b;
	            for (var i = 0; i < l; i++) 
	            {
	                b = data[i];
	                var params = [b.CustNum, b.Factura, b.ValorFactura, b.SaldoFactura];
	                tx.executeSql(sql, params);
	            }
		    },
		    function (error) {console.log(error);},
		    function () {}
		  ); 
		  LoadDataCustomer();       
        } 
	     
	    function LoadDataCustomer()
	    { 
	      new Vue({
	           el: '#listuser',
	           created: function()
			   {
	             this.consultToAPI();
			   },
	           methods:
			   {
			     consultToAPI: function()
				 {		
				       var DataCust = [],
				           Binding = [],
				           BindinT = [],
                           CNum    = 0;
				       database = window.openDatabase("Customer","1.0","Table Credit",2 * 1024 * 1024);

				       database.transaction(
			          	function (tx) 
					    {
			               tx.executeSql("Select * From CreditCust", [], 
			               function(tx, response)
			               {
			               	 for(var i = 0; i < response.rows.length; i++)
							   DataCust.push(String(response.rows.item(i).ResaleID));	                         				
			               },
			               function (error) {console.log(error);} );
			            },
			          	function (error) {console.log(error);},
			          	function (success) { }
			          ); 

			          if (typeof tagse != 'undefined')
                         $('#txtNit').tagEditor('destroy');				      

				      // Init tagEditor
	                 tagse = $('#txtNit').tagEditor({
					    autocomplete: { 
				            delay: 2, 
				            position: { collision: 'fit' }, 
				            source  : DataCust,
				            error: function(){
				              console.log("error");
				            }
			            },
			            forceLowercase: false,
			            delimiter: ', ',
			            placeholder: 'Busqueda por nit...',
			            beforeTagSave: function(field, editor, tags, tag, val) 
			            {             
                           if(val.length > 0 && typeof tag != 'undefined')
                           { 
                           	   database.transaction(
					          	function (tx) 
							    {
					               tx.executeSql("Select CC.CustNum,ResaleID,CreditLimit,CreditHold,InvoiceNum,InvoiceAmt,InvoiceBal From CreditCust CC Inner Join InvoiceOpen IO On (CC.CustNum = IO.CustNum) Where ResaleID = "+ val, [], 
					               function(tx, response)
					               {
                                     var Holding =
									 {
										 CustNum: response.rows.item(0).CustNum,
										 ResaleID: response.rows.item(0).ResaleID ,
										 CreditLimit: formatNumber.new(Number(response.rows.item(0).CreditLimit).toFixed(2), "$"),
									 	 CreditHold : response.rows.item(0).CreditHold
									 }
									 BindinT.push( Holding );	

					               	 for(var i = 0; i < response.rows.length; i++)
					               	 {
									   var InvOpen =
									   {
										 CustNum: response.rows.item(i).CustNum,
										 InvoiceNum: response.rows.item(i).InvoiceNum ,
										 InvoiceAmt: formatNumber.new(Number(response.rows.item(i).InvoiceAmt).toFixed(2), "$"),
									 	 InvoiceBal : formatNumber.new(Number(response.rows.item(i).InvoiceBal).toFixed(2), "$")
									   }
									   Binding.push( InvOpen );			               	 
					               	 }                            				
					               },
					               function (error) {console.log(error);} );
					            },
					          	function (error) {console.log(error);},
					          	function (success) { }
					          ); 
                           }
                        }
				      });
				      this.UserRegister = BindinT;	        
				      this.OpenInvioces = Binding;	
				 },
				 
				 RefreshCust: function()
				 {
				   this.UserRegister = []
				   this.OpenInvioces = []
				   this.consultToAPI();
				 },
		       },
	           data:
	           {
	             Title: "Conectado Epicor905",
	             UserRegister: [],
	             OpenInvioces: []
	           },
	           created: function()
			   {
	              this.consultToAPI();
			   }
	        });
	    }
	    
	    function successDB(tx) 
		{
		  console.log("OK");
		} 
		
		function errorDB(error) 
		{
		  console.log(error);
		} 

		var formatNumber = {
	       separador: ".", // separador para los miles
	       sepDecimal: ',', // separador para los decimales
	       formatear:function (num){
	       num +='';
	       var splitStr = num.split('.');
	       var splitLeft = splitStr[0];
	       var splitRight = splitStr.length > 1 ? this.sepDecimal + splitStr[1] : '';
	       var regx = /(\d+)(\d{3})/;
	       while (regx.test(splitLeft)) {
	       splitLeft = splitLeft.replace(regx, '$1' + this.separador + '$2');
	       }
	       return this.simbol + splitLeft +splitRight;
	       },
	       new:function(num, simbol){
	       this.simbol = simbol ||'';
	       return this.formatear(num);
       }
   } 
   </script>
</div>

<!-- Bootstrap Core JavaScript -->
<script src="js/bootstrap.min.js"></script>

<!-- Metis Menu Plugin JavaScript -->
<script src="js/metisMenu.min.js"></script>

<!-- Custom Theme JavaScript -->
<script src="js/startmin.js"></script>

</body>
</html>
